<div class="row background-gray-style">
    <div class="container pd-y-100">
        <div class="row d-flex">
            <div class="col-12 tx-center">
                <h2 class="tx-primary tx-bold tx-spacing-2 tx-uppercase">GET AHEAD YOUR COMPETITORS</h2>
                <h5>Save time & maximize profits</h5>

            </div>
            <div class="col-12 tx-center">
                <p>THE SUBCRIPTION PACKAGES</p>
                <div class="row bg-white shadow">
                    <div class="col-4 pd-x-0 rounded-10 bd-0 js-choose-package js-choose-package">
                        <div class="pd-50 rounded-10 bd-0">
                            <div class="">
                                <h3 class="nature-package">Free</h3>
                                <p class="info-package tx-16 tx-light tx-gray-500">For sellers beginning the multi-channel management</p>
                                <p class="pos-relative">
                                    <span class="pos-absolute tx-24 tx-bold">$</span>
                                    <span class="tx-60 mg-l-10 tx-medium">0</span>
                                    <span class="tx-24 tx-medium">/mo</span>
                                </p>
                            </div>
                            <ul class="pd-0 mg-b-30">
                                <li class="color__text-package tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle color__icon-package tx-primary mg-r-10"></i><span>2 shops</span></li>
                                <li class="color__text-package tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle color__icon-package tx-primary mg-r-10"></i><span>200 order per month</span></li>
                                <li class="color__text-package tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle color__icon-package tx-primary mg-r-10"></i><span>500 active SKUs</span></li>
                            </ul>

                            <div class="tx-left"><p class="tx-warning tx-18 tx-medium">Top feature</p></div>
                            <ul class="pd-0 mg-b-30">
                                <li class="color__text-package tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle color__icon-package tx-primary mg-r-10"></i><span>2 shops</span></li>
                                <li class="color__text-package tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle color__icon-package tx-primary mg-r-10"></i><span>200 order per month</span></li>
                                <li class="color__text-package tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle color__icon-package tx-primary mg-r-10"></i><span>500 active SKUs</span></li>
                            </ul>

                            <div class="d-flex align-items-center justify-content-center">
                                <a class="" href="#">
                                    <button class="color__button-package d-flex btn btn-style-general-blue wd-sm-200 wd-100p ht-40 rounded-10 shadow justify-content-center" type="button">
                                        <span class="span">Get started</span>
                                    </button>
                                </a>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 pd-x-0 pd-50 rounded-10 bd-0 js-choose-package active">
                        <div class="">
                            <h3 class="nature-package _text-color-white">Basic</h3>
                            <p class="info-package tx-16 tx-light _text-color-white">For sellers beginning the multi-channel management</p>
                            <p class="pos-relative">
                                <span class="pos-absolute tx-24 tx-bold">VND</span>
                                <span class="tx-60 mg-l-10 tx-medium">319K</span>
                                <span class="tx-24 tx-medium">/mo</span>
                            </p>
                        </div>
                        <ul class="pd-0 mg-b-30">
                            <li class="color__text-package">
                                <i class="fas fa-check-circle color__icon-package"></i>
                                <span>2 shops</span>
                            </li>
                            <li class="color__text-package">
                                <i class="fas fa-check-circle color__icon-package"></i>
                                <span>200 order per month</span>
                            </li>
                            <li class="color__text-package">
                                <i class="fas fa-check-circle color__icon-package"></i>
                                <span>500 active SKUs</span>
                            </li>
                        </ul>
                        <div class="tx-left"><p class="tx-warning tx-18 tx-medium">Top feature</p></div>
                        <ul class="pd-0 mg-b-30">
                            <li class="color__text-package"><i class="fas fa-check-circle color__icon-package"></i><span>2 shops</span></li>
                            <li class="color__text-package"><i class="fas fa-check-circle color__icon-package"></i><span>200 order per month</span></li>
                            <li class="color__text-package"><i class="fas fa-check-circle color__icon-package"></i><span>500 active SKUs</span></li>
                        </ul>

                        <div class="d-flex align-items-center justify-content-center">
                            <a class="" href="#">
                                <button class="d-flex btn btn-style-general-white wd-sm-200 wd-100p ht-40 rounded-10 shadow justify-content-center" type="button">
                                    <span class="span">Get started</span>
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 pd-x-0 js-choose-package">
                        <div class="pd-50 rounded-10 bd-0">
                            <div class="">
                                <h3>Premium</h3>
                                <p class="tx-16 tx-light tx-gray-500">For sellers beginning the multi-channel management</p>
                                <p class="tx-60">Let's talk</p>
                            </div>
                            <ul class="pd-0 mg-b-30">
                                <li class="tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle tx-primary mg-r-10"></i><span>customizable</span></li>
                                <li class="tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle tx-primary mg-r-10"></i><span>customizable</span></li>
                                <li class="tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle tx-primary mg-r-10"></i><span>customizable</span></li>
                            </ul>

                            <div class="tx-left"><p class="tx-warning tx-18 tx-medium">business, plus:</p></div>
                            <ul class="pd-0 mg-b-30">
                                <li class="tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle tx-primary mg-r-10"></i><span>2 shops</span></li>
                                <li class="tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle tx-primary mg-r-10"></i><span>200 order per month</span></li>
                                <li class="tx-gray-700 tx-light tx-18 d-flex"><i class="fas fa-check-circle tx-primary mg-r-10"></i><span>500 active SKUs</span></li>
                            </ul>

                            <div class="d-flex align-items-center justify-content-center">
                                <a class="" href="#">
                                    <button class="d-flex btn btn-style-general-blue wd-sm-200 wd-100p ht-40 rounded-10 shadow justify-content-center" type="button">
                                        <span class="span">Get started</span>
                                    </button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>